.container {
	background-color: white;
	color: black;
	padding: 16px;
	height: 100px;
	width: 80%;
	align-self: center;
	border-radius: 12px;
	font-size: 1.2rem;
	border: solid 4px black;
	margin: 0 auto;
	cursor: grab;

	&__text {
		color: black;
		width: 100px;
		background-color: transparent;
	}
}